body{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}


header {
    display: flex;
    font-size: 30px;
    align-items: center;
    border-bottom: 2px solid #ccc;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
   
nav ul {
    display: flex;
    list-style: none;
  }
  
nav li {
    margin-left: 20px;
    margin-right: 20px;
  }

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

footer {
    border-top: 2px solid #ccc;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: #000000;
}
  
  .content {
    margin-bottom: 50px;
  }
  
.containerr {
  display: flex;
  flex-direction: column;
  width: 100%;

  }
  
.created-by {
  text-align: center;
  font-size: 12px;
  }
  
.hidden-fact {
  display:none;
  }
 
.fact{
  cursor: pointer;
}

h1{
  text-align: center;
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif;
}

p{
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;   
}


.language-selector{
  margin-left: auto;
  font-size: smaller;
    
}
strong{
  color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  text-decoration: none;
}
.menu-nav{
  display: flex;
  margin: auto;
}
li{
  color: antiquewhite;
  margin: 5px;
}

a{
  color: aliceblue;
}

#myBtn {
  display: none; /* Először rejtett, amíg a felhasználó nem ér az oldal aljára */
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00BFFF;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
  animation: smoothScroll 1s;
}

#myBtn:hover {
  background-color: #cef700;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
}

.lang-switch {
  position: relative;
}

.lang-dropdown {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;

}

.lang-dropdown a {
  display: block;
  padding: 5px 0;
  color: #333;
  text-decoration: none;
}

.lang-dropdown a:hover {
  color: #fff;
  background-color: #333;
}

.active-lang {
  font-weight: bold;
  text-decoration: none;
}

.lang-switch:hover .lang-dropdown {
  display: block;
}

.container {
  margin: 30px auto;
  width: 500px;
  text-align: center;
}

.progress {
  padding: 6px;
  background: rgba(0, 0, 0, 0.087);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 1px rgba(207, 193, 193, 0.08);
}

.progress-bar {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped .progress-bar { 	
  background-color: #FCBC51; 
  width: 95%; 
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%, 
        transparent 25%, transparent 50%, 
        rgb(252,163,17) 50%, rgb(252,163,17) 100%,
        transparent 75%, transparent); 
  animation: progressAnimationStrike1 2s;
}

@keyframes progressAnimationStrike1 {
     from { width: 0 }
     to   { width: 95% }
}

.progress-bar-hu {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped .progress-bar-hu { 	
  background-color: #FCBC51; 
  width: 100%; 
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%, 
        transparent 25%, transparent 50%, 
        rgb(252,163,17) 50%, rgb(252,163,17) 100%,
        transparent 75%, transparent); 
  animation: progressAnimationStrike2 2s;
}

@keyframes progressAnimationStrike2{
     from { width: 0 }
     to   { width: 100% }
}

.progress-bar-en {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped .progress-bar-en { 	
  background-color: #FCBC51; 
  width: 50%; 
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%, 
        transparent 25%, transparent 50%, 
        rgb(252,163,17) 50%, rgb(252,163,17) 100%,
        transparent 75%, transparent); 
  animation: progressAnimationStrike3 2s;
}

@keyframes progressAnimationStrike3 {
     from { width: 0 }
     to   { width: 50% }
}

#foot{
  text-decoration: none;
}

#strg1{
  color: #ccc;
  font-style: italic;
}
